Button.queryOnly {
/*  font: 14px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;*/

  border: 1px solid #bdbdbd;
  border-radius: 2px;
  padding: 6px 15px;
  background-image: gradient(
    linear, left top, left bottom,
    from( #f9f9f9 ),
    to( #f9d0d0 )/* to( #e4e4e4 ) */
  );
  animation: none;
  cursor: pointer;
  text-shadow: 0 1px 0 #ffffff;
}

Button.queryOnly:hover {
  background-image: gradient(
    linear, left top, left bottom,
    from( #f9d9d9 ),
    to( #f9c0c0 )
  );
}

Button.queryOnly:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #f9c0c0 ),
    to( #f9d9d9 )
  );
}

Button.match {
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  padding: 6px 15px;
  background-image: gradient(
    linear, left top, left bottom,
    from( #f9f9f9 ),
    to( #d0f9d0 )/* to( #e4e4e4 ) */
  );
  animation: none;
  cursor: pointer;
  text-shadow: 0 1px 0 #ffffff;
}

Button.match:hover {
  background-image: gradient(
    linear, left top, left bottom,
    from( #d9f9d9 ),
    to( #c0f9c0 )
  );
}

Button.match:pressed {
  background-image: gradient(
    linear, left top, left bottom,
    from( #c0f9c0 ),
    to( #d9f9d9 )
  );
	
}

